Города A, B, C вместе с соединяющими их прямыми дорогами образуют треугольник.
Известно, что прямой путь из А в B на 200 км короче, чем объезд через C, а прямой
путь из A в C на 300 км короче, чем объезд через B. Найдите расстояние между
городами B и С

### Решение:

AB = AC + BC - 200

AC = AB + BC - 300

*Приведём буквенную часть отдельно, цифры - отдельно*

AB - AC - BC = -200

AC - AB - BC = -300

AB - AC - BC + 200 = AC - AB - BC + 300

*Здесь BC при переносе сокращается*

2AB -2AC = 100

*Зная, что AC = AB + BC - 300, подставим это выражение в формулу*

2AB - 2(AB + BC - 300) = 100

-2BC + 600 = 100

-2BC = -500

BC = 250

**Ответ: Расстояние между пунктами B и С составляет 250**

Компания ПЭК тестирует доставку последней мили с помощью автономных
роботов-доставщиков. На сортировочном центре в черте города роботу загружают
посылку (помещается только одна), далее робот отправляется по адресу, где его
встречает получатель и забирает посылку. Для доставки следующей посылки робот
возвращается на сортировочный центр.
Сортировочный центр обслуживает район города, очерченный окружностью радиуса R.
Для простоты расчетов будем считать, что клиенты по этой площади распределены
равномерно, а робот двигается к клиенту вдоль радиуса. Скорость движения робота
постоянна = v. Временем, необходимым на загрузку и разгрузку посылки, можно
пренебречь.
Как связано количество посылок, которое успеет доставить робот за день и
предельная дальность доставки R?

Сделайте оценку среднего количества доставок за день с указанием всех значимых констант. Приложите не только ответ, но и ход решения.

### Решение:

Нужно выделить, что здесь является доставкой. Будем считать если робот съездил на адрес и вернулся на базу, соответственно преодолел расстояние, равное или меньше 2R (не все клиенты живут на границе радиуса, так как распределены равномерно). Значит минимальное количество заказов за единицу времени можно рассчитать как **min_order = t / (2R / v)**, где t - количество времени, которое работает робот в день. Если мы знаем минимальное расстояние до клиента (min_distance), тогда формула расчёта максимального количества заказов будет **max_order = t / (2min_distance / v). Если распределение нормальное, то в среднем робот потратит (min_order + max_order) / 2

### Более подробное решение:

In [1]:
import pandas as pd
import numpy as np
from random import randint

# Создадим таблицу с примерными данными
# Допустим, робот ездит со скоростью 500метров/мин
# Сделаем таблицу с выборкой 1000

v = 500

R = list(np.random.randint(1,1001, size=1000))

t = 600 #Допустим робот работает 10 часов в день, 10ч*60м = 600мин/в день - рабочее время робота

Создадим таблицу со скоростью и расстоянием

In [2]:
df = pd.DataFrame({'speed': [v for i in range(1,1001)], 'distance': R, 'time': [t for i in range(1, 1001)]})

На основании созданной таблицы создадим количество заказов в день:

In [3]:
df['orders'] = df.time / (2*df.distance / df.speed)

In [4]:
df

     speed  distance  time      orders
0      500       209   600  717.703349
1      500       463   600  323.974082
2      500       867   600  173.010381
3      500       610   600  245.901639
4      500       602   600  249.169435
..     ...       ...   ...         ...
995    500       486   600  308.641975
996    500       505   600  297.029703
997    500       233   600  643.776824
998    500       664   600  225.903614
999    500       826   600  181.598063

[1000 rows x 4 columns]

увеличим расстояние вдвое, умножив столбец distance на 2, для проверки результатов

In [5]:
df['more_distance'] = df.distance * 2

In [6]:
df['orders2'] = df.time / (2*df.more_distance / df.speed)

In [7]:
df.orders.mean()

1401.0070466420684

In [8]:
df.orders2.mean()

700.5035233210342

In [9]:
df.orders.mean() / df.orders2.mean()

2.0

**Делаем вывод, что при увеличении расстояния уменьшается количество заказов, то есть связано напрямую**